<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">
            {{ "ResearchAndStudiesList" | translate }}
          </h4>
          <div class="flex-shrink-0">
            <div class="d-flex align-items-center"></div>
            <a
              type="button"
              class="btn btn-danger waves-effect waves-light"
              id="btnAdd"
              style="float: inline-end"
              (click)="openModal(template)"
            >
              {{ "AddNew" | translate }}
            </a>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-nowrap" id="researchAndStudiesDataTable">
            <thead>
              <tr>
                <th>{{ "ID" | translate }}</th>
                <th>{{ "DescrtionEnEn" | translate }}</th>
                <th>{{ "DescriptionAr" | translate }}</th>
                <th>{{ "StoryNameEn" | translate }}</th>
                <th>{{ "StoryNameAr" | translate }}</th>
                <th>{{ "PublisherNameEn" | translate }}</th>
                <th>{{ "PublisherNameAr" | translate }}</th>
                <!-- <th>{{ "Actions" }}</th> -->
                <th>{{ "Actions" | translate }}</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>
<ng-template #template class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="researchAndStudiesModel.id == 0">
      {{ "Add" | translate }}
    </h4>
    <h4 class="modal-title pull-left" *ngIf="researchAndStudiesModel.id != 0">
      {{ "Update" | translate }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="row">
        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label">{{
            "Discuss" | translate
          }}</label>
          <select
            class="form-control"
            [(ngModel)]="researchAndStudiesModel.discuss"
          >
            <option [ngValue]="1">
              {{ "InstitutionalSupportSector" | translate }}
            </option>
            <option [ngValue]="2">
              {{ "ViolatorsAndForeignersFollowupSector" | translate }}
            </option>
            <option [ngValue]="3">
              {{ "LandandAirPortssector" | translate }}
            </option>
            <option [ngValue]="4">
              {{ "EntryandResidencePermitssector" | translate }}
            </option>
            <option [ngValue]="5">
              {{ "NationalityAffairsSector" | translate }}
            </option>
            <option [ngValue]="6">{{ "AirportsSector" | translate }}</option>
          </select>
        </div>

        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label">{{
            "ResearchAndStudiesCategories" | translate
          }}</label>
          <select
            class="form-control"
            [(ngModel)]="researchAndStudiesModel.researchAndStudiesCategories"
          >
            <option [ngValue]="1">
              {{ "ScholarsResearchMastersAndPhD" | translate }}
            </option>
            <option [ngValue]="2">
              {{ "InnovativeResearch" | translate }}
            </option>
            <option [ngValue]="3">
              {{ "AccreditedResearch" | translate }}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label">{{
            "DescriptionEn" | translate
          }}</label>
          <input
            type="input"
            class="form-control"
            id="basiInput"
            [(ngModel)]="researchAndStudiesModel.descrtionEn"
          />
        </div>

        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label">{{
            "DescriptionAr" | translate
          }}</label>
          <input
            type="input"
            class="form-control"
            id="basiInput"
            [(ngModel)]="researchAndStudiesModel.descrtionAr"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label"
            >{{ "PublisherNameEn" | translate }}
          </label>
          <input
            type="input"
            class="form-control"
            id="basiInput"
            [(ngModel)]="researchAndStudiesModel.publisherNameEn"
          />
        </div>

        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label">{{
            "PublisherNameAr" | translate
          }}</label>
          <input
            type="input"
            class="form-control"
            id="basiInput"
            [(ngModel)]="researchAndStudiesModel.publisherNameAr"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label">{{
            "StoryNameEn" | translate
          }}</label>
          <input
            type="input"
            class="form-control"
            id="basiInput"
            [(ngModel)]="researchAndStudiesModel.storyNameEn"
          />
        </div>

        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label">{{
            "StoryNameAr" | translate
          }}</label>
          <input
            type="input"
            class="form-control"
            id="basiInput"
            [(ngModel)]="researchAndStudiesModel.storyNameAr"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mt-3">
          <label for="basiInput" class="form-label">{{
            "BookNumberEn" | translate
          }}</label>
          <input
            type="input"
            class="form-control"
            id="basiInput"
            [(ngModel)]="researchAndStudiesModel.bookNoEn"
          />
        </div>
        <div class="col-md-4 mt-3">
          <label for="basiInput" class="form-label">{{
            "BookNumberAr" | translate
          }}</label>
          <input
            type="input"
            class="form-control"
            id="basiInput"
            [(ngModel)]="researchAndStudiesModel.bookNoAr"
          />
        </div>
        <div class="col-md-4 mt-3">
          <label for="basiInput" class="form-label">{{
            "BookLink" | translate
          }}</label>
          <input
            type="text"
            placeholder="Book Link"
            class="form-control"
            bsDatepicker
            [(ngModel)]="researchAndStudiesModel.bookLink"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="mt-3">
            <div class="mb-3">
              <div *ngIf="!researchAndStudiesModel.urlBase64">
                <label for="formFile" class="form-label">{{
                  "Choosefile" | translate
                }}</label>
                <file-pond
                  #myPond
                  label-idle='Drag & Drop your files or <span class="filepond--label-action"> Browse </span><br> <b>Maximum 5 files upload</b>'
                  allow-multiple="true"
                  [options]="pondOptions"
                  [files]="pondFiles"
                  (oninit)="pondHandleInit()"
                  (onaddfile)="pondHandleAddFile($event, 'ResearchAndStudy')"
                >
                </file-pond>
              </div>
              <div *ngIf="researchAndStudiesModel.urlBase64">
                <img
                  [src]="
                    globalService.getImgServerBaseUrl(
                      researchAndStudiesModel.urlBase64
                    )
                  "
                  alt="Membership Image"
                  style="height: 200px; width: 250px"
                  class="mt-2"
                />
                <a
                  (click)="removeImage()"
                  class="btn btn-danger"
                  style="display: block; margin-top: 10px"
                  >{{ "Remove" | translate }}</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="modal-footer">
      <div class="button-container">
        <button
          type="button"
          class="btn btn-danger waves-effect waves-light mr-2"
          (click)="add()"
          *ngIf="researchAndStudiesModel.id == 0"
        >
          {{ "Save" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-danger waves-effect waves-light mr-2"
          (click)="update()"
          *ngIf="researchAndStudiesModel.id != 0"
        >
          {{ "Update" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-light button"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          {{ "Close" | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateDetails class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ "ResearchandStudiesDetails" | translate }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label text-muted mb-0"
            >{{ "Dicussion" | translate }}
          </label>
          <div>
            {{ globalService.getDiscuss(researchAndStudiesModel.discuss) }}
          </div>
        </div>

        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "ResearchAndStudies" | translate
          }}</label>
          <div>
            {{
              globalService.getResearchAndStudiesCategory(
                researchAndStudiesModel.researchAndStudiesCategories
              )
            }}
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "DescriptionEn" | translate
          }}</label>
          <div>{{ researchAndStudiesModel.descrtionEn }}</div>
        </div>
        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "DescriptionAr" | translate
          }}</label>
          <div>{{ researchAndStudiesModel.descrtionAr }}</div>
        </div>

        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label text-muted mb-0"
            >{{ "PublisherNameEn" | translate }}
          </label>
          <div>{{ researchAndStudiesModel.publisherNameEn }}</div>
        </div>
        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label text-muted mb-0"
            >{{ "PublisherNameAr" | translate }}
          </label>
          <div>{{ researchAndStudiesModel.publisherNameAr }}</div>
        </div>
        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "NewArrivals" | translate
          }}</label>
          <div *ngIf="researchAndStudiesModel.newArrivals === true">
            {{ "Online" | translate }}
          </div>
          <div *ngIf="researchAndStudiesModel.newArrivals === false">
            {{ "OnPremises" | translate }}
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label text-muted mb-0"
            >{{ "StoryNameEn" | translate }}
          </label>
          <div>{{ researchAndStudiesModel.storyNameEn }}</div>
        </div>

        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label text-muted mb-0"
            >{{ "StoryNameAr" | translate }}
          </label>
          <div>{{ researchAndStudiesModel.storyNameAr }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Attachment" | translate
          }}</label>
          <div class="fs-15">
            <img
              [src]="
                globalService.getImgServerBaseUrl(
                  researchAndStudiesModel.urlBase64
                )
              "
              class="card-img-top img-thumnail"
              style="height: 200px; width: auto"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- container-fluid -->
  <!-- End Page-content -->
  <div class="row">
    <div class="modal-footer">
      <div class="button-container">
        <button
          type="button"
          class="btn btn-light button"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          {{ "Close" | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
