.butto-nml {
  margin-left: 10px;
}
label {
  margin-bottom: 10px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: black !important;
}

.insetcust {
  inset: 100% 0px auto auto !important;
}
.ng-dropdown-panel {
  background-color: white !important;
  padding: 10px;
  border: 1px solid #dde2e6;
  left: -1px;
  top: 36px;
  border-radius: 6px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 2px 10px;
  transition: 2s;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
  background-color: #dde2e6;
  border-radius: 5px;
}
.badge-success {
  color: #fff !important;
  background-color: #28a745 !important;
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}
.badge-danger {
  color: #fff;
  background-color: #dc3545;
}
.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}
.badge-warning {
  color: #212529;
  background-color: #ffc107;
}
.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}
.badge-dark {
  color: #fff;
  background-color: #343a40;
}

td {
  padding: 8px;
  text-align: left;
}
th {
  padding: 8px;
  text-align: left;
}

.mr-2 {
  margin: 4px;
}
