<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">
            {{ "SubmitedIdeasList" | translate }}
          </h4>
          <div class="flex-shrink-0">
            <div class="d-flex align-items-center">
              <input
                type="text"
                class="form-control me-3"
                data-provider="flatpickr"
                data-date-format="d M, Y"
                data-range-date="true"
                placeholder="Select Date Range"
              />
              <select
                class="form-select mb-0 me-2"
                aria-label="Default select example"
              >
                <option selected>{{ "Status" | translate }}</option>
                <option value="1">{{ "Submitted" | translate }}</option>
                <option value="2">{{ "InReview" | translate }}</option>
                <option value="3">{{ "Approved" | translate }}</option>
                <option value="4">{{ "Rejected" | translate }}</option>
              </select>
              <button
                type="button"
                class="btn btn-light waves-effect waves-light ms-2 me-2 col-1"
              >
                <i class="ri-search-2-line"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-nowrap" id="ideaDataTable">
            <thead>
              <tr>
                <th>{{ "ID" | translate }}</th>
                <th>{{ "IdeaTitle" | translate }}</th>
                <th>{{ "Sector" | translate }}</th>
                <th>{{ "Administration" | translate }}</th>
                <th>{{ "Status" | translate }}</th>
                <th>{{ "Actions" | translate }}</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>
<ng-template #template class="modal-lg">
  <div class="modal-header bg-light">
    <h4 class="modal-title pull-left">
      {{ "ConsultingRequest" | translate }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin-bottom: 65px">
      <div class="card-body">
        <div class="row" *ngIf="ideaSubmitModel">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="mt-0">
                <label for="basiInput" class="form-label">{{
                  "Ideatitle" | translate
                }}</label>
                <p
                  type="input"
                  class="form-control"
                  id="basiInput"
                  [(ngModel)]="ideaSubmitModel.title"
                  [disabled]="true"
                ></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mt-3">
                <label for="basiInput" class="form-label">{{
                  "Ideatext" | translate
                }}</label>
                <p
                  type="input"
                  class="form-control"
                  id="basiInput"
                  [(ngModel)]="ideaSubmitModel.ideaText"
                  [disabled]="true"
                ></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mt-3">
                <div class="form-group mt-4">
                  <label for="exampleFormControlTextarea1" class="text-dark"
                    >{{ "Return from implementing the idea" }}
                    <span class="text-danger">*</span></label
                  >
                  <p class="mb-1 mt-3 text-dark">
                    {{
                      "Choosenomorethantwoofthemostinfluentialreturnsfromthereturnslistedbelow:"
                        | translate
                    }}
                  </p>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="defaultCheck1"
                      disabled
                      [(ngModel)]="ideaSubmitModel.employeehappiness"
                    />
                    <label
                      class="form-check-label text-dark"
                      for="defaultCheck1"
                    >
                      {{ "Employeehappiness" | translate }}
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="defaultCheck1"
                      disabled
                      [(ngModel)]="ideaSubmitModel.improvingservices"
                    />
                    <label
                      class="form-check-label text-dark"
                      for="defaultCheck1"
                    >
                      {{ "Improvingservices" | translate }}
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="defaultCheck1"
                      disabled
                      [(ngModel)]="ideaSubmitModel.rationalizationofexpenses"
                    />
                    <label
                      class="form-check-label text-dark"
                      for="defaultCheck1"
                    >
                      {{ "Rationalizationofexpenses" | translate }}
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="defaultCheck1"
                      disabled
                      [(ngModel)]="ideaSubmitModel.customerhappiness"
                    />
                    <label
                      class="form-check-label text-dark"
                      for="defaultCheck1"
                    >
                      {{ "Customerhappiness" | translate }}
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="defaultCheck1"
                      disabled
                      [(ngModel)]="
                        ideaSubmitModel.informationabouttechnologydevelopment
                      "
                    />
                    <label
                      class="form-check-label text-dark"
                      for="defaultCheck1"
                    >
                      {{ "Informationtechnologydevelopment" | translate }}
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="defaultCheck1"
                      disabled
                      [(ngModel)]="ideaSubmitModel.findindnewsourcesoffinancing"
                    />
                    <label
                      class="form-check-label text-dark"
                      for="defaultCheck1"
                    >
                      {{ "Findingnewsourcesoffinancing" | translate }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mt-3">
                <label for="basiInput" class="form-label">{{
                  "Sector" | translate
                }}</label>
                <ng-select
                  #mySector
                  class="form-control mt-2 form-select"
                  [items]="sectorList"
                  [bindLabel]="bindLableSector"
                  bindValue="sectorId"
                  [(ngModel)]="ideaSubmitModel.sectorId"
                >
                </ng-select>
              </div>
            </div>
            <br />
            <div class="col-md-6">
              <div class="mt-3">
                <label for="basiInput" class="form-label">{{
                  "Administration" | translate
                }}</label>
                <ng-select
                  #myAdministration
                  class="form-control mt-2 form-select"
                  [items]="administrationList"
                  [bindLabel]="bindLableAdministration"
                  bindValue="administrationId"
                  [(ngModel)]="ideaSubmitModel.administrationId"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mt-3">
                <label for="basiInput" class="form-label text-muted mb-0">{{
                  "Attachment" | translate
                }}</label>
                <div class="fs-15">
                  <!-- <img
                    src="{{
                      ideaSubmitModel.attachmentUrlView ||
                        './assests/default.png'
                    }}"
                    class="card-img-top img-thumnail"
                  /> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="modal-footer">
        <div class="button-container">
          <button
            type="button"
            class="btn btn-danger waves-effect waves-light"
            (click)="Update()"
          >
            {{ "Save" | translate }}
          </button>

          <button
            type="button"
            class="btn btn-light button"
            aria-label="Close"
            (click)="modalRef?.hide()"
          >
            {{ "Close" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateDetails class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ "IdeaDetails" | translate }}</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="row mt-3">
        <div class="col-md-4">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Date" | translate
          }}</label>
          <div>{{ ideaSubmitModel?.createdDate }}</div>
        </div>
        <div class="col-md-4">
          <label for="basiInput" class="form-label text-muted mb-0"
            >{{ "" | translate }}Status</label
          >
          <div *ngIf="ideaSubmitModel?.workFlowStatus == 6">
            <div class="text-success badge badge-soft-success fs-12 fw-regular">
              {{ ideaSubmitModel?.workFlowStatusName }}
            </div>
          </div>

          <div *ngIf="ideaSubmitModel?.workFlowStatus == 1">
            <div class="text-danger badge badge-soft-danger fs-12 fw-regular">
              {{ ideaSubmitModel?.workFlowStatusName }}
            </div>
          </div>

          <div *ngIf="ideaSubmitModel?.workFlowStatus == 3">
            <div class="text-info badge badge-soft-info fs-12 fw-regular">
              {{ ideaSubmitModel?.workFlowStatusName }}
            </div>
          </div>

          <div *ngIf="ideaSubmitModel?.workFlowStatus == 4">
            <div
              class="text-secondary badge badge-soft-secondary fs-12 fw-regular"
            >
              {{ ideaSubmitModel?.workFlowStatusName }}
            </div>
          </div>

          <div *ngIf="ideaSubmitModel?.workFlowStatus == 0">
            <div
              class="text-secondary badge badge-soft-default fs-12 fw-regular"
            >
              {{ ideaSubmitModel?.workFlowStatusName }}
            </div>
          </div>
        </div>
      </div>

      <hr class="bg-soft-dark" />
      <div class="row mt-3">
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "EmployeeID" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Name" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "JobTitle" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Section" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Department" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Sector" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "MobileNo" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "OfficeNo" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Address" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Email" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
      </div>
      <div class="row mt-3">
        <hr class="bg-soft-dark" />
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Title" | translate
          }}</label>
          <div class="fs-15">{{ ideaSubmitModel?.title }}</div>
        </div>
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Details" | translate
          }}</label>
          <div class="fs-15">{{ ideaSubmitModel?.ideaText }}</div>
        </div>
      </div>

      <div class="row mt-3">
        <label for="basiInput" class="form-label text-muted mb-0"
          >{{ "Returnfromimplementingtheidea" | translate }}
        </label>
        <hr class="bg-soft-dark" />
        <div class="col-md-4">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="employeeHappinessCheckbox"
              [checked]="ideaSubmitModel?.employeehappiness"
            />

            <label class="form-check-label" for="employeeHappinessCheckbox">{{
              "Employeehappiness" | translate
            }}</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="employeeHappinessCheckbox"
              [checked]="ideaSubmitModel?.improvingservices"
            />

            <label class="form-check-label" for="employeeHappinessCheckbox">{{
              "ImprovingServices" | translate
            }}</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="employeeHappinessCheckbox"
              [checked]="ideaSubmitModel?.rationalizationofexpenses"
            />

            <label class="form-check-label" for="employeeHappinessCheckbox">{{
              "Rationalizationofexpenses" | translate
            }}</label>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="employeeHappinessCheckbox"
              [checked]="ideaSubmitModel?.customerhappiness"
            />

            <label class="form-check-label" for="employeeHappinessCheckbox">{{
              "Customerhappiness" | translate
            }}</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="employeeHappinessCheckbox"
              [checked]="ideaSubmitModel?.informationabouttechnologydevelopment"
            />

            <label class="form-check-label" for="employeeHappinessCheckbox">{{
              "Informationabouttechnologydevelopment" | translate
            }}</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="employeeHappinessCheckbox"
              [checked]="ideaSubmitModel?.improvingservices"
            />

            <label class="form-check-label" for="employeeHappinessCheckbox"
              >إيجاد مصادر جديدة للتمويل</label
            >
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Sector" | translate
          }}</label>
          <div class="fs-15">{{ ideaSubmitModel?.sectorName }}</div>
        </div>
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Administration" | translate
          }}</label>
          <div class="fs-15">{{ ideaSubmitModel?.administrationName }}</div>
        </div>
      </div>

      <hr class="bg-soft-dark" />

      <div class="row mt-3">
        <label for="basicInput" class="form-label text-muted mb-0">{{
          "Attachments" | translate
        }}</label>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">{{ "File" | translate }}</th>
                <th scope="col">{{ "Download" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let attachment of ideaSubmitModel?.attachmentsModel">
                <td>
                  <!-- Display file icon based on extension -->
                  <i
                    *ngIf="attachment.extension === '.jpg'"
                    class="bi bi-file-image"
                  ></i>
                  <i
                    *ngIf="attachment.extension === '.png'"
                    class="bi bi-file-image"
                  ></i>
                  <i
                    *ngIf="attachment.extension === '.pdf'"
                    class="bi bi-file-pdf"
                  ></i>
                  <!-- Add more conditions for other file types as needed -->
                  <!-- Display attachment title -->
                  <span>{{ attachment.title }}</span>
                </td>
                <td>
                  <!-- Download button with download icon -->
                  <button
                    class="btn btn-primary btn-sm"
                    (click)="downloadFile(attachment.url)"
                  >
                    <i class="bi bi-download"></i> {{ "Download" | translate }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="modal-footer">
      <div
        class="button-container"
        *ngIf="ideaSubmitModel?.workFlowStatus == enum.UnderProcesses"
      >
        <button
          type="button"
          class="btn btn-success button mr-2"
          (click)="accept(enum.Accept)"
        >
          {{ "Accept" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-danger button mr-2"
          (click)="reject(enum.Reject)"
        >
          {{ "Reject" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-warning button mr-2"
          (click)="modify(enum.Modification)"
        >
          {{ "Modify" | translate }}
        </button>

        <button
          type="button"
          class="btn btn-light button"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          {{ "Close" | translate }}
        </button>
      </div>

      <div
        class="button-container"
        *ngIf="ideaSubmitModel?.status != enum.UnderProcesses"
      >
        <button
          type="button"
          class="btn btn-light button"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          {{ "Close" | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
