<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">
            {{ "OverviewofIntellectualProperty" | translate }}
          </h4>
        </div>
        <div class="card-body">
          <div class="row" *ngIf="overViewPropertyModel">
            <div class="mt-3 col-md-6">
              <label for="basiInput" class="form-label"
                >{{ "AboutintellectualpropertyEn" | translate }}
              </label>
              <input
                type="input"
                [(ngModel)]="overViewPropertyModel.aboutDescriptionEn"
                class="form-control"
                id="basiInput"
              />
            </div>

            <div class="mt-3 col-md-6">
              <label for="basiInput" class="form-label"
                >{{ "AboutintellectualpropertyAr" | translate }}
              </label>
              <input
                type="input"
                [(ngModel)]="overViewPropertyModel.aboutDescriptionAr"
                class="form-control"
                id="basiInput"
              />
            </div>
            <div class="col-md-6">
              <label for="basiInput" class="form-label">{{
                "WhatisintellectualpropertyEn" | translate
              }}</label>
              <input
                type="input"
                class="form-control row-4"
                name="toolFreeNumber"
                [(ngModel)]="overViewPropertyModel.descriptionEn"
              />
            </div>

            <div class="col-md-6">
              <label for="basiInput" class="form-label">{{
                "WhatisintellectualpropertyAr" | translate
              }}</label>
              <input
                type="input"
                class="form-control row-4"
                name="toolFreeNumber"
                [(ngModel)]="overViewPropertyModel.descriptionAr"
              />
            </div>

            <div class="mt-3 col-md-6">
              <label for="basiInput" class="form-label">{{
                "OwnershipRegistrationLink" | translate
              }}</label>
              <input
                type="input"
                [(ngModel)]="overViewPropertyModel.ownershipRegistrationLink"
                class="form-control"
                id="basiInput"
              />
            </div>

            <div class="mt-3 col-md-6">
              <div class="mb-3">
                <div *ngIf="!overViewPropertyModel.urlBase64">
                  <label for="formFile" class="form-label">{{
                    "Choosefile" | translate
                  }}</label>
                  <file-pond
                    #myPond
                    label-idle='Drag & Drop your files or <span class="filepond--label-action"> Browse </span><br> <b>Maximum 5 files upload</b>'
                    allow-multiple="true"
                    [options]="pondOptions"
                    [files]="pondFiles"
                    (oninit)="pondHandleInit()"
                    (onaddfile)="pondHandleAddFile($event)"
                  >
                  </file-pond>
                </div>

                <div *ngIf="overViewPropertyModel.urlBase64">
                  <img
                    [src]="
                      globalService.getImgServerBaseUrl(
                        overViewPropertyModel.urlBase64
                      )
                    "
                    alt="Membership Image"
                    style="height: 200px; width: 250px"
                    class="mt-2"
                  />
                  <a
                    (click)="removeImage()"
                    class="btn btn-danger"
                    style="display: block; margin-top: 10px; width: 150px"
                    >{{ "Remove" | translate }}</a
                  >
                </div>
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-danger waves-effect waves-light ms-2 col-3 pull-right mt-2"
            (click)="add()"
          >
            {{ "Save" | translate }}
          </button>
        </div>
      </div>

      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
  </div>
  <!-- end main content-->
</div>
