<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">
            {{ "AbouttheInnovationCenter" | translate }}
          </h4>
        </div>
        <div class="card-body" *ngIf="aboutInnovationCenterModel">
          <form
            #editForm="ngForm"
            id="editForm"
            (ngSubmit)="addAboutInnovation()"
          >
            <tabset>
              <tab [heading]="getTabValue('AbouttheCenter')">
                <div class="row mt-3">
                  <label>{{ "AboutCenterEn" | translate }}</label>
                  <textarea
                    class="textareasize form-control"
                    name="aboutDescriptionAr"
                    [(ngModel)]="aboutInnovationCenterModel.aboutDescriptionEn"
                  ></textarea>
                  <label class="mt-3">{{ "AboutCenterAr" | translate }}</label>
                  <textarea
                    class="textareasize form-control"
                    name="aboutDescriptionEn"
                    [(ngModel)]="aboutInnovationCenterModel.aboutDescriptionAr"
                  ></textarea>
                </div>
              </tab>

              <tab [heading]="getTabValue('OrganizationStructure')">
                <label class="mt-3">{{
                  "OrganizationStructureEn" | translate
                }}</label>
                <div>
                  <file-pond
                    *ngIf="!aboutInnovationCenterModel.orgStractureUrlEn"
                    #organizationImgEn
                    label-idle='Drag & Drop your files or <span class="filepond--label-action"> Browse </span><br> <b>Maximum 5 files upload</b>'
                    allow-multiple="true"
                    [options]="pondOptions"
                    [files]="pondFiles"
                    (oninit)="pondHandleInit()"
                    (onaddfile)="
                      pondHandleAddFile($event, 'OrganizationEnInstance')
                    "
                  ></file-pond>

                  <div *ngIf="aboutInnovationCenterModel.orgStractureUrlEn">
                    <img
                      [src]="
                        globalService.getImgServerBaseUrl(
                          aboutInnovationCenterModel.orgStractureUrlEnBase64
                        )
                      "
                      style="height: 364px; width: 603px; margin-left: 198px"
                      alt="Organization Image"
                      class="mt-2"
                    />
                    <a
                      (click)="removeImage('en')"
                      class="btn btn-danger mt-2"
                      >{{ "Remove" | translate }}</a
                    >
                  </div>
                </div>

                <label class="mt-3">{{
                  "OrganizationStructureAr" | translate
                }}</label>
                <div>
                  <file-pond
                    *ngIf="!aboutInnovationCenterModel.orgStractureUrlAr"
                    #organizationImgAr
                    label-idle='Drag & Drop your files or <span class="filepond--label-action"> Browse </span><br> <b>Maximum 5 files upload</b>'
                    allow-multiple="true"
                    [options]="pondOptions"
                    [files]="pondFiles"
                    (oninit)="pondHandleInit()"
                    (onaddfile)="
                      pondHandleAddFile($event, 'OrganizationArInstance')
                    "
                  >
                  </file-pond>

                  <div *ngIf="aboutInnovationCenterModel.orgStractureUrlAr">
                    <img
                      [src]="
                        globalService.getImgServerBaseUrl(
                          aboutInnovationCenterModel.orgStractureUrlArBase64
                        )
                      "
                      style="height: 364px; width: 603px; margin-left: 198px"
                      alt="Organization Image"
                      class="mt-2"
                    />
                    <a
                      (click)="removeImage('ar')"
                      class="btn btn-danger mt-2"
                      >{{ "Remove" | translate }}</a
                    >
                  </div>
                </div>
              </tab>

              <tab [heading]="getTabValue('MessageFromtheDirector')">
                <div class="row mt-3">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12">
                        <label for="name" class="mt-3"
                          >{{ "DirectorNameEn" | translate }}
                        </label>
                        <input
                          type=" text"
                          class="form-control"
                          name="directorNameEn"
                          [(ngModel)]="
                            aboutInnovationCenterModel.directorNameEn
                          "
                        />
                        <label for="name" class="mt-3">{{
                          "DirectorNameAr" | translate
                        }}</label>
                        <textarea
                          type=" text"
                          class="form-control"
                          name="directorNameAr"
                          [(ngModel)]="
                            aboutInnovationCenterModel.directorNameAr
                          "
                        ></textarea>
                      </div>
                      <div class="col-md-12">
                        <label>{{ "DirectorProfilePhoto" | translate }}</label>

                        <ng-container
                          *ngIf="
                            !aboutInnovationCenterModel.directorImgUrl;
                            else showImage
                          "
                        >
                          <file-pond
                            #DirectorImg
                            label-idle='Drag & Drop your files or <span class="filepond--label-action"> Browse </span><br> <b>Maximum 5 files upload</b>'
                            allow-multiple="true"
                            [options]="pondOptions"
                            [files]="pondFiles"
                            (oninit)="pondHandleInit()"
                            (onaddfile)="
                              pondHandleAddFile($event, 'DirectorEnInstance')
                            "
                          >
                          </file-pond>
                        </ng-container>
                        <ng-template #showImage>
                          <div>
                            <img
                              [src]="
                                globalService.getImgServerBaseUrl(
                                  aboutInnovationCenterModel.directorImgUrlBase64
                                )
                              "
                              alt="Director Image"
                              style="height: 200px; width: auto"
                              class="mt-2"
                            />
                            <a
                              (click)="removeImage('director')"
                              class="btn btn-danger"
                              style="display: block; margin-top: 10px"
                              >{{ "Remove" | translate }}</a
                            >
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <label for="message" class="mt-3">{{
                      "MessageEn" | translate
                    }}</label>
                    <textarea
                      class="messageTexarea form-control"
                      name="messageFromDirectorEn"
                      [(ngModel)]="
                        aboutInnovationCenterModel.messageFromDirectorEn
                      "
                    ></textarea>

                    <label for="message" class="mt-3">{{
                      "MessageAr" | translate
                    }}</label>
                    <textarea
                      class="messageTexarea form-control"
                      name="messageFromDirectorAr"
                      [(ngModel)]="
                        aboutInnovationCenterModel.messageFromDirectorAr
                      "
                    ></textarea>
                  </div>
                </div>
              </tab>
              <tab [heading]="getTabValue('OurStrategyAndInstitutionalValues')">
                <label class="mt-3"
                  >{{ "OurStrategyAndInstitutionalValues" | translate }}
                </label>

                <div class="row">
                  <div class="col-md-4">
                    <label class="mt-3">{{ "StrategyEn" | translate }}</label>
                    <input
                      type="text"
                      class="form-control"
                      name="strategyEn"
                      [(ngModel)]="aboutInnovationCenterModel.strategyEn"
                    />

                    <div *ngIf="!aboutInnovationCenterModel.strategyImageUrlEn">
                      <file-pond
                        #StrategyEnImg
                        label-idle='Drag & Drop your files or <span class="filepond--label-action"> Browse </span><br> <b>Maximum 5 files upload</b>'
                        allow-multiple="true"
                        [options]="pondOptions"
                        [files]="pondFiles"
                        (oninit)="pondHandleInit()"
                        (onaddfile)="
                          pondHandleAddFile($event, 'StrategyEnInstance')
                        "
                      ></file-pond>
                    </div>

                    <div *ngIf="aboutInnovationCenterModel.strategyImageUrlEn">
                      <img
                        [src]="
                          globalService.getImgServerBaseUrl(
                            aboutInnovationCenterModel.strategyImageUrlEnBase64
                          )
                        "
                        alt="Strategy Image"
                        class="mt-2 imgTag"
                      />
                      <a
                        (click)="removeImage('strategyEn')"
                        class="btn btn-danger mt-2 imgButton"
                      >
                        {{ "Remove" | translate }}
                      </a>
                    </div>

                    <label class="mt-3">{{ "StrategyAr" | translate }}</label>
                    <input
                      type="text"
                      class="form-control"
                      name="strategyAr"
                      [(ngModel)]="aboutInnovationCenterModel.strategyAr"
                    />

                    <div *ngIf="!aboutInnovationCenterModel.strategyImageUrlAr">
                      <file-pond
                        #StrategyArImg
                        label-idle='Drag & Drop your files or <span class="filepond--label-action"> Browse </span><br> <b>Maximum 5 files upload</b>'
                        allow-multiple="true"
                        [options]="pondOptions"
                        [files]="pondFiles"
                        (oninit)="pondHandleInit()"
                        (onaddfile)="
                          pondHandleAddFile($event, 'StrategyArInstance')
                        "
                      ></file-pond>
                    </div>

                    <div *ngIf="aboutInnovationCenterModel.strategyImageUrlAr">
                      <img
                        [src]="
                          globalService.getImgServerBaseUrl(
                            aboutInnovationCenterModel.strategyImageUrlArBase64
                          )
                        "
                        style="height: 200px; width: auto"
                        alt="Strategy Image"
                        class="mt-2 imgTag"
                      />
                      <a
                        (click)="removeImage('strategyAr')"
                        class="btn btn-danger mt-2 imgButton"
                      >
                        {{ "Remove" | translate }}
                      </a>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label class="mt-3">{{ "OurVisionEn" | translate }}</label>
                    <input
                      type="text"
                      class="form-control"
                      name="ourVisionEn"
                      [(ngModel)]="aboutInnovationCenterModel.ourVisionEn"
                    />

                    <div
                      *ngIf="!aboutInnovationCenterModel.ourVisionImageUrlEn"
                    >
                      <file-pond
                        #StrategyEnImg
                        label-idle='Drag & Drop your files or <span class="filepond--label-action"> Browse </span><br> <b>Maximum 5 files upload</b>'
                        allow-multiple="true"
                        [options]="pondOptions"
                        [files]="pondFiles"
                        (oninit)="pondHandleInit()"
                        (onaddfile)="
                          pondHandleAddFile($event, 'VisionEnInstance')
                        "
                      ></file-pond>
                    </div>

                    <div *ngIf="aboutInnovationCenterModel.ourVisionImageUrlEn">
                      <img
                        [src]="
                          globalService.getImgServerBaseUrl(
                            aboutInnovationCenterModel.ourVisionImageUrlEnBase64
                          )
                        "
                        style="height: 200px; width: auto"
                        alt="Strategy Image"
                        class="mt-2 imgTag"
                      />
                      <a
                        (click)="removeImage('VisionEnInstance')"
                        class="btn btn-danger mt-2 imgButton"
                      >
                        {{ "Remove" | translate }}
                      </a>
                    </div>

                    <label class="mt-3">{{ "OurVisionAr" | translate }}</label>
                    <input
                      type="text"
                      class="form-control"
                      name="ourVisionAr"
                      [(ngModel)]="aboutInnovationCenterModel.ourVisionAr"
                    />

                    <div
                      *ngIf="!aboutInnovationCenterModel.ourVisionImageUrlAr"
                    >
                      <file-pond
                        #StrategyArImg
                        label-idle='Drag & Drop your files or <span class="filepond--label-action"> Browse </span><br> <b>Maximum 5 files upload</b>'
                        allow-multiple="true"
                        [options]="pondOptions"
                        [files]="pondFiles"
                        (oninit)="pondHandleInit()"
                        (onaddfile)="
                          pondHandleAddFile($event, 'VisionArInstance')
                        "
                      ></file-pond>
                    </div>

                    <div *ngIf="aboutInnovationCenterModel.ourVisionImageUrlAr">
                      <img
                        [src]="
                          globalService.getImgServerBaseUrl(
                            aboutInnovationCenterModel.ourVisionImageUrlArBase64
                          )
                        "
                        style="height: 200px; width: auto"
                        alt="ourVisionAr Image"
                        class="mt-2 imgTag"
                      />
                      <a
                        (click)="removeImage('VisionArInstance')"
                        class="btn btn-danger mt-2 imgButton"
                      >
                        {{ "Remove" | translate }}
                      </a>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label class="mt-3">{{ "OurMissionEn" | translate }}</label>
                    <input
                      type="text"
                      class="form-control"
                      name="ourMissionEn"
                      [(ngModel)]="aboutInnovationCenterModel.ourMissionEn"
                    />

                    <div
                      *ngIf="!aboutInnovationCenterModel.ourMissionImageUrlEn"
                    >
                      <file-pond
                        #MissionEnImg
                        label-idle='Drag & Drop your files or <span class="filepond--label-action"> Browse </span><br> <b>Maximum 5 files upload</b>'
                        allow-multiple="true"
                        [options]="pondOptions"
                        [files]="pondFiles"
                        (oninit)="pondHandleInit()"
                        (onaddfile)="
                          pondHandleAddFile($event, 'MissionEnInstance')
                        "
                      ></file-pond>
                    </div>

                    <div
                      *ngIf="aboutInnovationCenterModel.ourMissionImageUrlEn"
                      style="display: flex; flex-direction: column"
                    >
                      <img
                        [src]="
                          globalService.getImgServerBaseUrl(
                            aboutInnovationCenterModel.ourMissionImageUrlEnBase64
                          )
                        "
                        style="height: 200px; width: auto"
                        alt="Mission Image "
                        class="mt-2 imgTag"
                      />
                      <a
                        (click)="removeImage('ourMissionEn')"
                        class="btn btn-danger mt-2 imgButton"
                        >{{ "Remove" | translate }}</a
                      >
                    </div>

                    <label class="mt-3">{{ "OurMissionAr" | translate }}</label>
                    <input
                      type="text"
                      class="form-control"
                      name="ourMissionAr"
                      [(ngModel)]="aboutInnovationCenterModel.ourMissionAr"
                    />

                    <div
                      *ngIf="!aboutInnovationCenterModel.ourMissionImageUrlAr"
                    >
                      <file-pond
                        #MissionArImg
                        label-idle='Drag & Drop your files or <span class="filepond--label-action"> Browse </span><br> <b>Maximum 5 files upload</b>'
                        allow-multiple="true"
                        [options]="pondOptions"
                        [files]="pondFiles"
                        (oninit)="pondHandleInit()"
                        (onaddfile)="
                          pondHandleAddFile($event, 'MissionArInstance')
                        "
                      ></file-pond>
                    </div>

                    <div
                      *ngIf="aboutInnovationCenterModel.ourMissionImageUrlAr"
                    >
                      <img
                        [src]="
                          globalService.getImgServerBaseUrl(
                            aboutInnovationCenterModel.ourMissionImageUrlArBase64
                          )
                        "
                        style="height: 200px; width: auto"
                        alt="Mission Image"
                        class="mt-2 imgTag"
                      />
                      <a
                        (click)="removeImage('ourMissionAr')"
                        class="btn btn-danger mt-2 imgButton"
                      >
                        {{ "Remove" | translate }}
                      </a>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label class="mt-3">{{ "OurGolas" | translate }}</label>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text">{{
                              "OurGoalsAr" | translate
                            }}</label>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter value for Ar"
                            aria-label="Example text with button addon"
                            aria-describedby="button-addon1"
                            name="ourGoalAr"
                            [(ngModel)]="ourGoalModel.ourGoalAr"
                          />
                        </div>

                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text">{{
                              "OurGoalsEn" | translate
                            }}</label>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter value for En"
                            aria-label="Example text with button addon"
                            aria-describedby="button-addon1"
                            name="ourGoalEn"
                            [(ngModel)]="ourGoalModel.ourGoalEn"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-outline-secondary"
                              type="button"
                              id="ourValuesEnButton"
                              (click)="addItem()"
                            >
                              {{ "Add" | translate }}
                            </button>
                          </div>
                        </div>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">
                                  {{ "OurGoalAr" | translate }}
                                </th>
                                <th scope="col">
                                  {{ "OurGoalEn" | translate }}
                                </th>
                                <th scope="col">{{ "Actions" | translate }}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                *ngFor="
                                  let item of aboutInnovationCenterModel.ourGoalsModel;
                                  let i = index
                                "
                              >
                                <td>{{ item.ourGoalAr }}</td>
                                <td>{{ item.ourGoalEn }}</td>
                                <td>
                                  <button
                                    class="btn btn-danger btn-sm"
                                    (click)="removeItem(i)"
                                  >
                                    {{ "Remove" | translate }}
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label class="mt-3">{{ "OurValues" | translate }}</label>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text">{{
                              "OurValuesAr" | translate
                            }}</label>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter value for Ar"
                            aria-label="Example text with button addon"
                            aria-describedby="button-addon1"
                            [(ngModel)]="ourValueModel.ourValuesAr"
                            name="ourValuesAr"
                          />
                        </div>

                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text">{{
                              "OurValuesEn" | translate
                            }}</label>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter value for En"
                            aria-label="Example text with button addon"
                            aria-describedby="button-addon1"
                            [(ngModel)]="ourValueModel.ourValuesEn"
                            name="ourValuesEn"
                          />
                          <div class="input-group-append">
                            <a
                              class="btn btn-outline-secondary"
                              type="button"
                              id="ourValuesEnButton"
                              (click)="addItemValues()"
                            >
                              {{ "Add" | translate }}
                            </a>
                          </div>
                        </div>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">
                                  {{ "OurValuesAr" | translate }}
                                </th>
                                <th scope="col">
                                  {{ "OurValuesEn" | translate }}
                                </th>
                                <th scope="col">{{ "" | translate }}Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                *ngFor="
                                  let item of aboutInnovationCenterModel.ourValuesModel;
                                  let i = index
                                "
                              >
                                <td>{{ item.ourValuesAr }}</td>
                                <td>{{ item.ourValuesEn }}</td>
                                <td>
                                  <a
                                    class="btn btn-danger btn-sm"
                                    (click)="removeValueItem(i)"
                                  >
                                    {{ "Remove" | translate }}
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
            </tabset>
            <button
              type="submit"
              class="btn btn-danger waves-effect waves-light ms-2 col-3 pull-right mt-2"
            >
              {{ "Save" | translate }}
            </button>
          </form>
        </div>
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
  </div>
  <!-- end main content-->

  <!-- <div class="row">
  <div class="col-md-6">
    <div>
      <label for="basiInput" class="form-label">Employee ID</label>
      <input type="input" class="form-control" id="basiInput" />
    </div>
    <div class="mt-3">
      <label for="basiInput" class="form-label">Name</label>
      <input type="input" class="form-control" id="basiInput" />
    </div>
    <div class="mt-3">
      <label for="basiInput" class="form-label">Job Title</label>
      <input type="input" class="form-control" id="basiInput" />
    </div>
    <div class="mt-3">
      <label for="basiInput" class="form-label">Section</label>
      <select
        class="form-select mb-3"
        aria-label="Default select example"
      >
        <option selected>Select Section</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mt-3">
      <label for="basiInput" class="form-label">Department</label>
      <select
        class="form-select mb-3"
        aria-label="Default select example"
      >
        <option selected>Select Department</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mt-3">
      <label for="basiInput" class="form-label">Sector</label>
      <select
        class="form-select mb-3"
        aria-label="Default select example"
      >
        <option selected>Select Sector</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mt-3">
      <label for="basiInput" class="form-label">Mobile No.</label>
      <input type="input" class="form-control" id="basiInput" />
    </div>
    <div class="mt-3">
      <label for="basiInput" class="form-label">Office No.</label>
      <input type="input" class="form-control" id="basiInput" />
    </div>
    <div class="mt-3">
      <label for="basiInput" class="form-label">Address</label>
      <input type="input" class="form-control" id="basiInput" />
    </div>
    <div class="mt-3">
      <label for="basiInput" class="form-label">Email</label>
      <input type="input" class="form-control" id="basiInput" />
    </div>
    <div class="mt-3">
      <label for="basiInput" class="form-label">Title</label>
      <input type="input" class="form-control" id="basiInput" />
    </div>
    <div class="mt-3">
      <label for="basiInput" class="form-label"
        >Type Intellectual Property</label
      >
      <select
        class="form-select mb-3"
        aria-label="Default select example"
      >
        <option selected>Select One</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-danger waves-effect waves-light"
        onclick="window.open('list.html')"
      >
        Register New IP
      </button>
    </div>
  </div>
</div> -->
</div>
