<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">
            {{ "PresentationsList" | translate }}
          </h4>
          <div class="flex-shrink-0">
            <div class="d-flex align-items-center">
              <input
                type="text"
                class="form-control me-3"
                data-provider="flatpickr"
                data-date-format="d M, Y"
                data-range-date="true"
                placeholder="Select Date Range"
              />

              <button
                type="button"
                class="btn btn-light waves-effect waves-light ms-2 me-2 col-1"
              >
                <i class="ri-search-2-line"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-nowrap" id="ideaDataTable">
            <thead>
              <tr>
                <th>{{ "ID" | translate }}</th>
                <th>{{ "SearchNameAr" | translate }}</th>
                <th>{{ "SearchNameEn" | translate }}</th>
                <th>{{ "ResearchAreas" | translate }}</th>
                <th>{{ "Actions" | translate }}</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>

<ng-template #templateDetails class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ "PresentationDetails" | translate }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="row mt-3">
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "EmployeeID" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Name" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "JobTitle" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Section" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Department" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Sector" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "MobileNo" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "OfficeNo" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Address" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-3">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Email" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
      </div>
      <div class="row mt-3">
        <hr class="bg-soft-dark" />
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "SearchNameEn" | translate
          }}</label>
          <div class="fs-15">{{ presentationModel?.searchNameEn }}</div>
        </div>
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "SearchNameAr" | translate
          }}</label>
          <div class="fs-15">{{ presentationModel?.searchNameAr }}</div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "ResearchAreas" | translate
          }}</label>
          <div class="fs-15"></div>
        </div>
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Administration" | translate
          }}</label>
          <div class="fs-15">{{ presentationModel?.searchContent }}</div>
        </div>
      </div>

      <hr class="bg-soft-dark" />

      <div class="row mt-3">
        <label for="basicInput" class="form-label text-muted mb-0">{{
          "SearchVersion" | translate
        }}</label>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">{{ "File" | translate }}</th>
                <th scope="col">{{ "Download" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let attachment of presentationModel?.presentationAttachmentModels
                "
              >
                <td>
                  <!-- Display file icon based on extension -->
                  <i
                    *ngIf="attachment.extension === '.jpg'"
                    class="bi bi-file-image"
                  ></i>
                  <i
                    *ngIf="attachment.extension === '.png'"
                    class="bi bi-file-image"
                  ></i>
                  <i
                    *ngIf="attachment.extension === '.pdf'"
                    class="bi bi-file-pdf"
                  ></i>
                  <!-- Add more conditions for other file types as needed -->
                  <!-- Display attachment title -->
                  <span>{{ attachment.title }}</span>
                </td>
                <td>
                  <!-- Download button with download icon -->
                  <button
                    class="btn btn-primary btn-sm"
                    (click)="
                      globalService.downloadjpg(
                        attachment.urlBase64,
                        attachment.title
                      )
                    "
                  >
                    <i class="bi bi-download"></i>{{ "Download" | translate }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light button"
        aria-label="Close"
        (click)="modalRef?.hide()"
      >
        {{ "Close" | translate }}
      </button>
    </div>
  </div>
</ng-template>
