<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title" style="font-size: large">
            {{ "Dasboard" | translate }}
          </h4>
          <div>
            <button
              class="btn btn-danger"
              (click)="showBarChart = !showBarChart"
            >
              <i *ngIf="showBarChart" class="ri-pie-chart-fill"></i>
              <i *ngIf="!showBarChart" class="ri-bar-chart-2-line"></i>
            </button>
          </div>
        </div>

        <div class="col-md-8 mr-110" *ngIf="showBarChart">
          <ngx-charts-bar-vertical
            [view]="view"
            [customColors]="colorScheme"
            [results]="arrayValue"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            (select)="onSelect($event)"
          >
          </ngx-charts-bar-vertical>
        </div>

        <div class="container" style="text-align: center" *ngIf="!showBarChart">
          <ngx-charts-pie-chart
            [view]="view"
            [customColors]="colorScheme"
            [results]="arrayValue"
            [gradient]="gradient"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>
