<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">
            {{ "IntellectualPropertyTypesList" | translate }}
          </h4>
          <div class="flex-shrink-0">
            <div class="d-flex align-items-center">
              <input
                type="text"
                class="form-control me-3"
                data-provider="flatpickr"
                data-date-format="d M, Y"
                data-range-date="true"
                placeholder="Select Date Range"
              />
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-nowrap" id="propertiesTypeDataTable">
            <thead>
              <tr>
                <th>{{ "ID" | translate }}</th>
                <th>{{ "RegisterPersonNameEn" | translate }}</th>
                <th>{{ "RegisterPersonNameAr" | translate }}</th>
                <th>{{ "Actions" | translate }}</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>

<ng-template #templateDetails class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ "PropertyDetail" | translate }}</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <tabset>
      <tab heading="Basic Information">
        <h5>{{ "FullName" | translate }}</h5>
        <div class="row mt-3">
          <div class="col-md-6">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "FullnameinArabic" | translate
            }}</label>
            <div class="mt-2">
              {{ registerIntecllectualPropertyModel.fullNameAr }}
            </div>
          </div>
          <div class="col-md-6">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "FullnameinEnglish" | translate
            }}</label>

            <div class="mt-2">
              {{ registerIntecllectualPropertyModel.fullNameEn }}
            </div>
          </div>
        </div>

        <hr class="bg-soft-dark" />

        <h5>{{ "ThenameisinArabic" | translate }}</h5>

        <div class="row mt-3">
          <div class="col-md-4">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "FirstName" | translate
            }}</label>
            <div class="mt-2">
              {{ registerIntecllectualPropertyModel.firstNameAr }}
            </div>
          </div>
          <div class="col-md-4">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "Secondname" | translate
            }}</label>

            <div class="mt-2">
              {{ registerIntecllectualPropertyModel.secondNameAr }}
            </div>
          </div>

          <div class="col-md-4">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "Thirdname" | translate
            }}</label>

            <div class="mt-2">
              {{ registerIntecllectualPropertyModel.thirdNameAr }}
            </div>
          </div>
        </div>

        <hr class="bg-soft-dark" />

        <h5>{{ "ThenameisinEnglish" | translate }}</h5>

        <div class="row mt-3">
          <div class="col-md-4">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "FirstName" | translate
            }}</label>
            <div class="mt-2">
              {{ registerIntecllectualPropertyModel.firstNameEn }}
            </div>
          </div>
          <div class="col-md-4">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "Secondname" | translate
            }}</label>

            <div class="mt-2">
              {{ registerIntecllectualPropertyModel.secondNameEn }}
            </div>
          </div>

          <div class="col-md-4">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "Thirdname" | translate
            }}</label>

            <div class="mt-2">
              {{ registerIntecllectualPropertyModel.thirdNameEn }}
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-4">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "FamilyName" | translate
            }}</label>
            <div class="mt-2">
              {{ registerIntecllectualPropertyModel.familyNameEn }}
            </div>
          </div>
          <div class="col-md-4">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "Dateofbirth" | translate
            }}</label>

            <div class="mt-2">
              {{ registerIntecllectualPropertyModel.dateofBirth }}
            </div>
          </div>

          <div class="col-md-4">
            <label for="sex" class="form-label text-muted mb-0">Sex</label>
            <div class="mt-2">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="male"
                  formControlName="sex"
                  value="Male"
                  [checked]="registerIntecllectualPropertyModel.gender === 1"
                />
                <label class="form-check-label" for="male">{{
                  "Male" | translate
                }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="female"
                  formControlName="sex"
                  value="Female"
                  [checked]="registerIntecllectualPropertyModel.gender === 2"
                />
                <label class="form-check-label" for="female">{{
                  "Female" | translate
                }}</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-4">
            <label for="sex" class="form-label text-muted mb-0">{{
              "Thepersonofdetermination" | translate
            }}</label>
            <div class="mt-2">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="yes"
                  [checked]="
                    registerIntecllectualPropertyModel.personsofDetermination ===
                    true
                  "
                />
                <label class="form-check-label" for="male">{{
                  "Yes" | translate
                }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="no"
                  [checked]="
                    registerIntecllectualPropertyModel.personsofDetermination ===
                    false
                  "
                />
                <label class="form-check-label" for="female">{{
                  "No" | translate
                }}</label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "Mobile" | translate
            }}</label>
            <div class="mt-2">
              {{ registerIntecllectualPropertyModel.mobile }}
            </div>
          </div>
          <div class="col-md-4">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "E-mail" | translate
            }}</label>

            <div class="mt-2">
              {{ registerIntecllectualPropertyModel.email }}
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-4">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "EmiratesIDnumber" | translate
            }}</label>
            <div class="mt-2">
              {{ registerIntecllectualPropertyModel.emiratesIDNumber }}
            </div>
          </div>
          <div class="col-md-4">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "Passportnumber" | translate
            }}</label>

            <div class="mt-2">
              {{ registerIntecllectualPropertyModel.passportNumber }}
            </div>
          </div>
        </div>
      </tab>

      <tab heading="Classifer Data">
        <div class="row">
          <div class="row mt-3">
            <div class="col-md-4">
              <label for="basiInput" class="form-label text-muted mb-0"
                >{{ ">اسم المصنفInthearabiclanguage" | translate }}*</label
              >
              <div class="mt-2">
                {{
                  registerIntecllectualPropertyModel.classifierDataModel
                    ?.nameofworkAr
                }}
              </div>
            </div>
            <div class="col-md-4">
              <label for="basiInput" class="form-label text-muted mb-0">{{
                "ThenameoftheworkinEnglish" | translate
              }}</label>

              <div class="mt-6">
                {{
                  registerIntecllectualPropertyModel.classifierDataModel
                    ?.nameofworkEn
                }}
              </div>
            </div>

            <div class="col-md-4">
              <label for="basiInput" class="form-label text-muted mb-0"
                >{{ "Workbooktype" | translate }}*</label
              >

              <div class="mt-2">
                {{
                  globalService.getWorkbookType(
                    registerIntecllectualPropertyModel.classifierDataModel
                      ?.workbookType || null
                  )
                }}
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <label for="basiInput" class="form-label text-muted mb-0">{{
                "Descriptionoftheworkbook" | translate
              }}</label>
              <div class="mt-2">
                {{
                  registerIntecllectualPropertyModel.classifierDataModel
                    ?.descriptionWorkbook
                }}
              </div>
            </div>
            <div class="col-md-6">
              <label for="basiInput" class="form-label text-muted mb-0">
                {{ "Workbookcontent" | translate }}</label
              >
              <div class="mt-2">
                {{
                  registerIntecllectualPropertyModel.classifierDataModel
                    ?.workbookContent
                }}
              </div>
            </div>
          </div>

          <hr class="bg-soft-dark" />

          <div class="row mt-3">
            <h5>{{ "Attachments" | translate }}</h5>
          </div>

          <div class="row mt-2">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">{{ "File" | translate }}</th>
                    <th scope="col">{{ "Download" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let attachment of registerIntecllectualPropertyModel
                        ?.classifierDataModel?.attachmentsModel
                    "
                  >
                    <td>
                      <!-- Display file icon based on extension -->
                      <i
                        *ngIf="attachment.extension === '.jpg'"
                        class="bi bi-file-image"
                      ></i>
                      <i
                        *ngIf="attachment.extension === '.png'"
                        class="bi bi-file-image"
                      ></i>
                      <i
                        *ngIf="attachment.extension === '.pdf'"
                        class="bi bi-file-pdf"
                      ></i>
                      <!-- Add more conditions for other file types as needed -->
                      <!-- Display attachment title -->
                      <span>{{ attachment.title }}</span>
                    </td>
                    <td>
                      <!-- Download button with download icon -->
                      <button
                        class="btn btn-primary btn-sm"
                        (click)="downloadFile(attachment.url)"
                      >
                        <i class="bi bi-download"></i
                        >{{ "Download" | translate }}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="Author Data">
        <div class="row">
          <div class="row mt-3">
            <div class="col-md-6">
              <label for="basiInput" class="form-label text-muted mb-0">{{
                "Natureoftheauthor" | translate
              }}</label>
              <div class="mt-2">
                {{
                  globalService.getAuthorNature(
                    registerIntecllectualPropertyModel.authorDataModel
                      ?.authorNature || null
                  )
                }}
              </div>
            </div>
            <div class="col-md-6">
              <label for="basiInput" class="form-label text-muted mb-0"
                >{{ "Authortype" | translate }}
              </label>

              <div class="mt-2">
                {{
                  globalService.getAuthorType(
                    registerIntecllectualPropertyModel.authorDataModel
                      ?.authorType || null
                  )
                }}
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label for="basiInput" class="form-label text-muted mb-0">{{
                "ThenameisinArabic" | translate
              }}</label>
              <div class="mt-2">
                {{ registerIntecllectualPropertyModel.authorDataModel?.nameAr }}
              </div>
            </div>
            <div class="col-md-6">
              <label for="basiInput" class="form-label text-muted mb-0"
                >{{ "NameinEnglish" | translate }}
              </label>

              <div class="mt-2">
                {{ registerIntecllectualPropertyModel.authorDataModel?.nameEn }}
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label for="basiInput" class="form-label text-muted mb-0">{{
                "Accommodationtype" | translate
              }}</label>
              <div class="mt-2">
                {{
                  registerIntecllectualPropertyModel.authorDataModel
                    ?.accommodationType
                }}
              </div>
            </div>
            <div class="col-md-6">
              <label for="basiInput" class="form-label text-muted mb-0"
                >{{ "Nationality" | translate }}
              </label>

              <div class="mt-2">
                {{
                  globalService.getCountryName(
                    registerIntecllectualPropertyModel.authorDataModel
                      ?.nationality || null
                  )
                }}
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label for="basiInput" class="form-label text-muted mb-0">{{
                "Mobile" | translate
              }}</label>
              <div class="mt-2">
                {{ registerIntecllectualPropertyModel.authorDataModel?.mobile }}
              </div>
            </div>
            <div class="col-md-6">
              <label for="basiInput" class="form-label text-muted mb-0"
                >{{ "E-mail" | translate }}
              </label>

              <div class="mt-2">
                {{ registerIntecllectualPropertyModel.authorDataModel?.email }}
              </div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>

  <div class="row">
    <div class="modal-footer">
      <div class="button-container">
        <button
          type="button"
          class="btn btn-light button"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          {{ "Close" | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
