<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">
            {{ "AbouttheInnovationCenter" | translate }}
          </h4>
        </div>
        <div class="card-body" *ngIf="researchAreaModel">
          <form #editForm="ngForm" id="editForm" (ngSubmit)="add()">
            <mat-tab-group>
              <mat-tab [label]="getTabName(1)">
                <div class="row mt-3">
                  <label>{{ "AbouttheCenterEn" | translate }}</label>
                  <textarea
                    class="textareasize form-control"
                    name="descriptionEn"
                    [(ngModel)]="researchCenterInfoModel.descriptionEn"
                    (ngModelChange)="
                      globalService.onInputChange('descriptionEn', $event)
                    "
                    [ngClass]="{
                      'input-error':
                        globalService.dataKeys['descriptionEn']?.isError
                    }"
                  >
                 
              
                <span
                  *ngIf="globalService.dataKeys['descriptionEn']?.isError"
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle"></i>
                  {{ "Thisfiledisrequired!" | translate }}
                </span>
              </div>
                
                
                </textarea
                  >
                  <label class="mt-3">{{
                    "AbouttheCenterAr" | translate
                  }}</label>
                  <textarea
                    class="textareasize form-control"
                    name="descriptionAr"
                    [(ngModel)]="researchCenterInfoModel.descriptionAr"
                    (ngModelChange)="
                      globalService.onInputChange('descriptionAr', $event)
                    "
                    [ngClass]="{
                      'input-error':
                        globalService.dataKeys['descriptionAr']?.isError
                    }"
                  >
               
            
              <span
                *ngIf="globalService.dataKeys['descriptionAr']?.isError"
                class="text-danger"
              >
                <i class="bi bi-exclamation-circle"></i>
                {{ "Thisfiledisrequired!" | translate }}
              </span>
            </div>

                  
                
                
                </textarea
                  >
                </div>
              </mat-tab>

              <mat-tab [label]="getTabName(2)">
                <div class="row mt-3">
                  <label
                    >{{ "PresentingScientificResearchEn" | translate }}
                  </label>
                  <textarea
                    class="textareasize form-control"
                    [(ngModel)]="
                      researchCenterInfoModel.presentingscientificResearchEn
                    "
                    name="presentingscientificResearchEn"
                  ></textarea>
                  <label class="mt-3"
                    >{{ "PresentingScientificResearchAr" | translate }}
                  </label>
                  <textarea
                    class="textareasize form-control"
                    name="presentingscientificResearchAr"
                    [(ngModel)]="
                      researchCenterInfoModel.presentingscientificResearchAr
                    "
                  ></textarea>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label class="mt-3">{{
                      "ResearchAreas" | translate
                    }}</label>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text">{{
                              "ResearchAreaEn" | translate
                            }}</label>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter value for Ar"
                            aria-label="Example text with button addon"
                            aria-describedby="button-addon1"
                            name="textEn"
                            [(ngModel)]="researchAreaModel.textEn"
                            (ngModelChange)="
                              globalService.onInputChange('textEn', $event)
                            "
                            [ngClass]="{
                              'input-error':
                                globalService.dataKeys['textEn']?.isError
                            }"
                          />
                          <span
                            *ngIf="globalService.dataKeys['textEn']?.isError"
                            class="text-danger"
                          >
                            <i class="bi bi-exclamation-circle"></i>
                            {{ "Thisfiledisrequired!" | translate }}
                          </span>
                        </div>
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text">{{
                            "ResearchAreaAr" | translate
                          }}</label>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter value for En"
                          aria-label="Example text with button addon"
                          aria-describedby="button-addon1"
                          name="textAr"
                          [(ngModel)]="researchAreaModel.textAr"
                          (ngModelChange)="
                            globalService.onInputChange('textAr', $event)
                          "
                          [ngClass]="{
                            'input-error':
                              globalService.dataKeys['textAr']?.isError
                          }"
                        />
                        <span
                          *ngIf="globalService.dataKeys['textAr']?.isError"
                          class="text-danger"
                        >
                          <i class="bi bi-exclamation-circle"></i>
                          {{ "Thisfiledisrequired!" | translate }}
                        </span>
                      </div>
                      <div class="input-group-append">
                        <button
                          class="btn btn-outline-secondary"
                          type="button"
                          id="addOptions"
                          (click)="addItem()"
                        >
                          {{ "Add" | translate }}
                        </button>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">
                              {{ "ResearchAreasEn" | translate }}
                            </th>
                            <th scope="col">
                              {{ "ResearchAreasAr" | translate }}
                            </th>
                            <th scope="col">{{ "Actions" | translate }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="
                              let item of researchCenterInfoModel.researchAreaModels;
                              let i = index
                            "
                          >
                            <td>{{ item.textEn }}</td>
                            <td>{{ item.textAr }}</td>
                            <td>
                              <button
                                class="btn btn-danger btn-sm"
                                (click)="removeItem(i)"
                              >
                                {{ "Remove" | translate }}
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
            <button
              type="submit"
              class="btn btn-danger waves-effect waves-light ms-2 col-3 pull-right mt-2"
            >
              {{ "Save" | translate }}
            </button>
          </form>
        </div>
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
  </div>
  <!-- end main content-->
</div>
