<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">
            {{ "TargetCompainAnswer" | translate }}
          </h4>
          <div class="flex-shrink-0">
            <div class="d-flex align-items-center"></div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-nowrap" id="targetCompainAnswerDataTable">
            <thead>
              <tr>
                <th>{{ "ID" | translate }}</th>
                <th>{{ "TargetCompainTitle " | translate }}</th>
                <th>{{ "TargetCompainDetails" | translate }}</th>
                <th>{{ "Actions" | translate }}</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>

<ng-template #templateDetails class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ "TargetCompainDetails" | translate }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="row">
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "ChallengeTitle" | translate
          }}</label>
          <div>{{ targetCompainsAnswerDetailsModel.challengeTitle }}</div>
        </div>
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "ChallengeDetails" | translate
          }}</label>
          <div>{{ targetCompainsAnswerDetailsModel.challengeDetails }}</div>
        </div>
      </div>

      <div class="row">
        <label class="mt-3">{{ "Options" | translate }}</label>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th scope="col">{{ "Option" | translate }}</th>
                <th scope="col">{{ "Answer" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let item of targetCompainsAnswerDetailsModel.targetCompainOptionAnswerModels;
                  let i = index
                "
              >
                <td>{{ i + 1 }}</td>
                <td>{{ item.displayValue }}</td>
                <td>{{ item.optionAnswer }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mt-3">
        <label for="basicInput" class="form-label text-muted mb-0">{{
          "Attachments" | translate
        }}</label>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">{{ "File" | translate }}</th>
                <th scope="col">{{ "Download" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let attachment of targetCompainsAnswerDetailsModel?.targetAttachmentModel
                "
              >
                <td>
                  <!-- Display file icon based on extension -->
                  <i
                    *ngIf="attachment.extension === '.jpg'"
                    class="bi bi-file-image"
                  ></i>
                  <i
                    *ngIf="attachment.extension === '.png'"
                    class="bi bi-file-image"
                  ></i>
                  <i
                    *ngIf="attachment.extension === '.pdf'"
                    class="bi bi-file-pdf"
                  ></i>
                  <!-- Add more conditions for other file types as needed -->
                  <!-- Display attachment title -->
                  <span>{{ attachment.title }}</span>
                </td>
                <td>
                  <!-- Download button with download icon -->
                  <a
                    href="{{ attachment.url }}"
                    class="btn btn-primary btn-sm"
                    download
                  >
                    <i class="bi bi-download"></i>{{ "Download" | translate }}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- container-fluid -->
    <!-- End Page-content -->
  </div>
  <div class="row">
    <div class="modal-footer">
      <div class="button-container">
        <button
          type="button"
          class="btn btn-default button"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          {{ "Close" | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
