<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">Awards List</h4>
          <div class="flex-shrink-0">
            <div class="d-flex align-items-center">
              <input
                type="text"
                class="form-control me-3"
                data-provider="flatpickr"
                data-date-format="d M, Y"
                data-range-date="true"
                placeholder="Select Date Range"
              />
              <select
                class="form-select mb-0 me-2"
                aria-label="Default select example"
              >
                <option selected>Status</option>
                <option value="1">Submitted</option>
                <option value="2">In Review</option>
                <option value="3">Approved</option>
                <option value="4">Rejected</option>
              </select>
              <button
                type="button"
                class="btn btn-light waves-effect waves-light ms-2 me-2 col-1"
              >
                <i class="ri-search-2-line"></i>
              </button>
              |
              <a
                type="button"
                class="btn btn-danger waves-effect waves-light ms-2 col-3"
                id="btnAdd"
                style="float: inline-end"
                (click)="openModal(template)"
              >
                Add New
              </a>

              <a
                type="button"
                class="btn btn-danger waves-effect waves-light ms-2 col-3"
                id="btnAdd"
                style="float: inline-end"
                (click)="openMainModal(templateMainAddEdit)"
              >
                Add Update Main Details
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-nowrap" id="awardsDataTable">
            <thead>
              <tr>
                <th>{{ "ID" }}</th>
                <th>{{ "Year" }}</th>
                <th>{{ "Classification" }}</th>
                <th>{{ "Actions" }}</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>
<ng-template #template class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="awardDetailModel.id == 0">
      Add New Awards
    </h4>
    <h4 class="modal-title pull-left" *ngIf="awardDetailModel.id != 0">
      Update Awards
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin-bottom: 65px">
      <div class="row">
        <div class="col-md-6">
          <div class="mt-3">
            <label for="basiInput" class="form-label">Classification</label>
            <select
              class="form-control"
              [(ngModel)]="awardDetailModel.awardClassification"
            >
              <option [ngValue]="1">Everyone</option>
              <option [ngValue]="2">International</option>
              <option [ngValue]="3">Climatic</option>
              <option [ngValue]="4">Local</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mt-3">
            <label for="basiInput" class="form-label">Year</label>
            <select class="form-control" [(ngModel)]="awardDetailModel.year">
              <option [ngValue]="2023">2023</option>
              <option [ngValue]="2024">2024</option>
              <option [ngValue]="2025">2025</option>
              <option [ngValue]="2026">2026</option>
              <option [ngValue]="2027">2027</option>
              <option [ngValue]="2028">2028</option>
              <option [ngValue]="2029">2029</option>
              <option [ngValue]="2030">2030</option>
            </select>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="mb-3">
          <div *ngIf="!awardDetailModel.imageUrl">
            <label for="formFile" class="form-label">Choose file</label>
            <file-pond
              #myPond
              label-idle='Drag & Drop your files or <span class="filepond--label-action"> Browse </span><br> <b>Maximum 5 files upload</b>'
              allow-multiple="true"
              [options]="pondOptions"
              [files]="pondFiles"
              (oninit)="pondHandleInit()"
              (onaddfile)="pondHandleAddFile($event)"
            >
            </file-pond>
          </div>

          <div *ngIf="awardDetailModel.imageUrl">
            <img
              [src]="
                globalService.getImgServerBaseUrl() + awardDetailModel.imageUrl
              "
              alt="Membership Image"
              style="height: 200px; width: auto"
              class="mt-2"
            />
            <a
              (click)="removeImage()"
              class="btn btn-danger"
              style="display: block; margin-top: 10px"
              >Remove</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="modal-footer">
      <div class="button-container">
        <button
          type="button"
          class="btn btn-danger waves-effect waves-light mr-2"
          (click)="add()"
          *ngIf="awardDetailModel.id == 0"
        >
          Save
        </button>

        <button
          type="button"
          class="btn btn-danger waves-effect waves-light mr-2"
          (click)="update()"
          *ngIf="awardDetailModel.id != 0"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-light button"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateDetails class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Awards Details</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <label for="basiInput" class="form-label text-muted mb-0">
          Classificassion
        </label>
        <div>{{ awardDetailModel.classificationValue }}</div>
      </div>
      <div class="col-md-6">
        <label for="basiInput" class="form-label text-muted mb-0">Year</label>
        <div>{{ awardDetailModel.year }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="basiInput" class="form-label text-muted mb-0"
          >Attachment</label
        >
        <div class="fs-15">
          <img
            src="{{ awardDetailModel.imageUrlView || './assests/default.png' }}"
            class="card-img-top img-thumnail"
            style="height: 200px; width: auto"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- container-fluid -->
  <!-- End Page-content -->
  <div class="row">
    <div class="modal-footer">
      <div class="button-container">
        <button
          type="button"
          class="btn btn-light button"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!--Award Main Details Start-->

<ng-template #templateMainAddEdit class="modal-lg">
  <div class="modal-header bg-light">
    <h4 class="modal-title pull-left">Add Awards Main Text</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin-bottom: 65px">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6"></div>

            <div class="col-md-6">
              <div class="mt-3">
                <label for="basiInput" class="form-label">Description En</label>
                <textarea
                  class="form-control"
                  [(ngModel)]="awardMainModel.descriptionEn"
                >
                </textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mt-3">
                <label for="basiInput" class="form-label">Description Ar</label>
                <textarea
                  class="form-control"
                  [(ngModel)]="awardMainModel.descriptionAr"
                >
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="modal-footer">
        <div class="button-container">
          <button
            type="button"
            class="btn btn-danger waves-effect waves-light"
            (click)="addMainDescriptionAddUpdate()"
            *ngIf="awardMainModel.id == 0"
          >
            Save
          </button>

          <button
            type="button"
            class="btn btn-danger waves-effect waves-light"
            (click)="addMainDescriptionAddUpdate()"
            *ngIf="awardMainModel.id != 0"
          >
            Update
          </button>
          <button
            type="button"
            class="btn btn-light button"
            aria-label="Close"
            (click)="modalRef?.hide()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateMainDetails class="modal-lg">
  <div class="modal-header bg-light">
    <h4 class="modal-title pull-left"></h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Awards Details</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <label for="basiInput" class="form-label text-muted mb-0">
              Description En
            </label>
            <div>{{ awardMainModel.descriptionEn }}</div>
          </div>
          <div class="col-md-6">
            <label for="basiInput" class="form-label text-muted mb-0"
              >Description Ar</label
            >
            <div>{{ awardMainModel.descriptionAr }}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
    <!-- End Page-content -->
    <div class="row">
      <div class="modal-footer">
        <div class="button-container">
          <button
            type="button"
            class="btn btn-light button"
            aria-label="Close"
            (click)="modalRef?.hide()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!--Award Main Details End-->
