<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">
            {{ "AddContactInformation" | translate }}
          </h4>
        </div>
        <div class="card-body">
          <form
            (ngSubmit)="saveDetails()"
            #consultingForm="ngForm"
            id="consultingForm"
          >
            <div class="row">
              <input
                type="input"
                class="form-control"
                [(ngModel)]="consultingModel.id"
                name="id"
                hidden
              />
              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label"></label>
                {{ "Toll FreeNumber" | translate }}
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.toolFreeNumber"
                  name="toolFreeNumber"
                />
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "TwitterUrl" | translate }}</label
                >
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.twitterUrl"
                  name="twitterUrl"
                />
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "InstagramUrl" | translate }}</label
                >
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.instagramUrl"
                  name="instagramUrl"
                />
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "FacebookUrl" | translate }}</label
                >
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.facebookUrl"
                  name="facebookUrl"
                />
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "SubmitSuggestionUrl" | translate }}
                </label>
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.submitSuggestion"
                  name="submitSuggestion"
                />
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "AmirChartUrl" | translate }}</label
                >
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.amirChart"
                  name="amirChart"
                />
              </div>
              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "ContactGeneralManagerUrl" | translate }}
                </label>
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.contactGeneralManager"
                  name="contactGeneralManager"
                />
              </div>
              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "InstantVideoCall" | translate }}
                  Url</label
                >
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.instantVideoCall"
                  name="instantVideoCall"
                />
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "Email" | translate }}</label
                >
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.email"
                  name="email"
                />
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "InternationalPhoneNumber" | translate }}
                </label>
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.internationalPhoneNumber"
                  name="internationalPhoneNumber"
                />
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "PostalAddress" | translate }}</label
                >
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.postalAddress"
                  name="postalAddress"
                />
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "HeadquaterLocation" | translate }}
                </label>
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.headquaterLocation"
                  name="headquaterLocation"
                />
              </div>
            </div>

            <div class="mt-3">
              <button
                type="submit"
                class="btn btn-danger waves-effect waves-light pull-right"
                id="editForm"
              >
                {{ "Save" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- container-fluid -->
</div>
