<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">
            {{ "AddContactInformation" | translate }}
          </h4>
        </div>
        <div class="card-body">
          <form
            (ngSubmit)="saveDetails()"
            #consultingForm="ngForm"
            id="consultingForm"
          >
            <div class="row">
              <input
                type="input"
                class="form-control"
                [(ngModel)]="consultingModel.id"
                name="id"
                hidden
              />
              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label"></label>
                {{ "TollFreeNumber" | translate }}
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.toolFreeNumber"
                  name="toolFreeNumber"
                  (ngModelChange)="
                    globalService.onInputChange('toolFreeNumber', $event)
                  "
                  [ngClass]="{
                    'input-error':
                      globalService.dataKeys['toolFreeNumber']?.isError
                  }"
                />
                <span
                  *ngIf="globalService.dataKeys['toolFreeNumber']?.isError"
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle"></i>
                  {{ "Thisfiledisrequired!" | translate }}
                </span>
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "TwitterUrl" | translate }}</label
                >
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.twitterUrl"
                  name="twitterUrl"
                  (ngModelChange)="
                    globalService.onInputChange('twitterUrl', $event)
                  "
                  [ngClass]="{
                    'input-error': globalService.dataKeys['twitterUrl']?.isError
                  }"
                />
                <span
                  *ngIf="globalService.dataKeys['twitterUrl']?.isError"
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle"></i>
                  {{ "Thisfiledisrequired!" | translate }}
                </span>
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "InstagramUrl" | translate }}</label
                >
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.instagramUrl"
                  name="instagramUrl"
                  (ngModelChange)="
                    globalService.onInputChange('instagramUrl', $event)
                  "
                  [ngClass]="{
                    'input-error':
                      globalService.dataKeys['instagramUrl']?.isError
                  }"
                />
                <span
                  *ngIf="globalService.dataKeys['instagramUrl']?.isError"
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle"></i>
                  {{ "Thisfiledisrequired!" | translate }}
                </span>
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "FacebookUrl" | translate }}</label
                >
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.facebookUrl"
                  name="facebookUrl"
                  (ngModelChange)="
                    globalService.onInputChange('facebookUrl', $event)
                  "
                  [ngClass]="{
                    'input-error':
                      globalService.dataKeys['facebookUrl']?.isError
                  }"
                />
                <span
                  *ngIf="globalService.dataKeys['facebookUrl']?.isError"
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle"></i>
                  {{ "Thisfiledisrequired!" | translate }}
                </span>
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "SubmitSuggestionUrl" | translate }}
                </label>
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.submitSuggestion"
                  name="submitSuggestion"
                  (ngModelChange)="
                    globalService.onInputChange('submitSuggestion', $event)
                  "
                  [ngClass]="{
                    'input-error':
                      globalService.dataKeys['submitSuggestion']?.isError
                  }"
                />
                <span
                  *ngIf="globalService.dataKeys['submitSuggestion']?.isError"
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle"></i>
                  {{ "Thisfiledisrequired!" | translate }}
                </span>
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "AmirChatUrl" | translate }}</label
                >
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.amirChart"
                  name="amirChart"
                  (ngModelChange)="
                    globalService.onInputChange('amirChart', $event)
                  "
                  [ngClass]="{
                    'input-error': globalService.dataKeys['amirChart']?.isError
                  }"
                />
                <span
                  *ngIf="globalService.dataKeys['amirChart']?.isError"
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle"></i>
                  {{ "Thisfiledisrequired!" | translate }}
                </span>
              </div>
              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "ContactGeneralManagerUrl" | translate }}
                </label>
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.contactGeneralManager"
                  name="contactGeneralManager"
                  (ngModelChange)="
                    globalService.onInputChange('contactGeneralManager', $event)
                  "
                  [ngClass]="{
                    'input-error':
                      globalService.dataKeys['contactGeneralManager']?.isError
                  }"
                />
                <span
                  *ngIf="
                    globalService.dataKeys['contactGeneralManager']?.isError
                  "
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle"></i>
                  {{ "Thisfiledisrequired!" | translate }}
                </span>
              </div>
              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "InstantVideoCallUrl" | translate }}
                </label>
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.instantVideoCall"
                  name="instantVideoCall"
                  (ngModelChange)="
                    globalService.onInputChange('instantVideoCall', $event)
                  "
                  [ngClass]="{
                    'input-error':
                      globalService.dataKeys['instantVideoCall']?.isError
                  }"
                />
                <span
                  *ngIf="globalService.dataKeys['instantVideoCall']?.isError"
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle"></i>
                  {{ "Thisfiledisrequired!" | translate }}
                </span>
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "Email" | translate }}</label
                >
                <input
                  type="email"
                  class="form-control"
                  [(ngModel)]="consultingModel.email"
                  name="email"
                  (ngModelChange)="
                    globalService.onInputChange('email', $event, 'email')
                  "
                  [ngClass]="{
                    'input-error': globalService.dataKeys['email']?.isError
                  }"
                />
                <span
                  *ngIf="globalService.dataKeys['email']?.isError"
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle"></i>
                  {{ "Thisfiledisrequired!" | translate }}
                </span>
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "InternationalPhoneNumber" | translate }}
                </label>
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.internationalPhoneNumber"
                  name="internationalPhoneNumber"
                  (ngModelChange)="
                    globalService.onInputChange(
                      'internationalPhoneNumber',
                      $event,
                      'phoneNumber'
                    )
                  "
                  [ngClass]="{
                    'input-error':
                      globalService.dataKeys['internationalPhoneNumber']
                        ?.isError
                  }"
                />
                <span
                  *ngIf="
                    globalService.dataKeys['internationalPhoneNumber']?.isError
                  "
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle"></i>
                  {{ "Thisfiledisrequired!" | translate }}
                </span>
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "PostalAddress" | translate }}</label
                >
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.postalAddress"
                  name="postalAddress"
                  (ngModelChange)="
                    globalService.onInputChange('postalAddress', $event)
                  "
                  [ngClass]="{
                    'input-error':
                      globalService.dataKeys['postalAddress']?.isError
                  }"
                />
                <span
                  *ngIf="globalService.dataKeys['postalAddress']?.isError"
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle"></i>
                  {{ "Thisfiledisrequired!" | translate }}
                </span>
              </div>

              <div class="col-md-6 mt-3">
                <label for="basiInput" class="form-label">
                  {{ "HeadquaterLocation" | translate }}
                </label>
                <input
                  type="input"
                  class="form-control"
                  [(ngModel)]="consultingModel.headquaterLocation"
                  name="headquaterLocation"
                  (ngModelChange)="
                    globalService.onInputChange('headquaterLocation', $event)
                  "
                  [ngClass]="{
                    'input-error':
                      globalService.dataKeys['headquaterLocation']?.isError
                  }"
                />
                <span
                  *ngIf="globalService.dataKeys['headquaterLocation']?.isError"
                  class="text-danger"
                >
                  <i class="bi bi-exclamation-circle"></i>
                  {{ "Thisfiledisrequired!" | translate }}
                </span>
              </div>
            </div>

            <div class="mt-3">
              <button
                type="submit"
                class="btn btn-danger waves-effect waves-light pull-right"
                id="editForm"
              >
                {{ "Save" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- container-fluid -->
</div>
