<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">
            {{ "TargetCompainList" | translate }}
          </h4>
          <div class="flex-shrink-0">
            <div class="d-flex align-items-center">
              <!-- <input
                type="text"
                class="form-control me-3"
                data-provider="flatpickr"
                data-date-format="d M, Y"
                data-range-date="true"
                placeholder="Select Date Range"
              /> -->
              <select
                class="form-select mb-0 me-2"
                aria-label="Default select example"
              >
                <option selected>{{ "Status" | translate }}</option>
                <option value="1">{{ "Active" | translate }}</option>
                <option value="2">{{ "InActive" | translate }}</option>
              </select>
              <button
                type="button"
                class="btn btn-light waves-effect waves-light ms-2 me-2 col-1"
              >
                <i class="ri-search-2-line"></i>
              </button>
              |
              <a
                type="button"
                class="btn btn-danger waves-effect waves-light me-2 col-4"
                id="btnAdd"
                style="float: inline-end"
                (click)="openModal(template)"
              >
                {{ "AddNew" | translate }}
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-nowrap" id="targetCompainDataTable">
              <thead>
                <tr>
                  <th>{{ "ID" | translate }}</th>
                  <th>{{ "TargetCompainTextEn" | translate }}</th>
                  <th>{{ "TargetCompainTextAr" | translate }}</th>
                  <th>{{ "NoteEn" | translate }}</th>
                  <th>{{ "NoteAr" | translate }}</th>
                  <th>{{ "Actions" | translate }}</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>
<ng-template #template class="modal-lg">
  <div class="modal-header bg-light">
    <h4 class="modal-title pull-left">{{ "AddNew" | translate }}</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin-bottom: 65px">
      <div class="row">
        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label">{{
            "CompainTitleEn" | translate
          }}</label>
          <input
            type="input"
            class="form-control"
            id="basiInput"
            [(ngModel)]="targetCompainModel.targetCompainTextEn"
          />
        </div>
        <div class="mt-3 col-md-6">
          <label for="basiInput" class="form-label">{{
            "CompainTitleAr" | translate
          }}</label>
          <input
            type="input"
            class="form-control"
            id="basiInput"
            [(ngModel)]="targetCompainModel.targetCompainTextAr"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-3">
          <label for="basiInput" class="form-label">{{
            "NoteEn" | translate
          }}</label>
          <input
            type="input"
            class="form-control"
            id="basiInput"
            [(ngModel)]="targetCompainModel.noteEn"
          />
        </div>
        <div class="mt-3 col-md-6">
          <label for="basiInput" class="form-label">{{
            "NoteAr" | translate
          }}</label>
          <input
            type="input"
            class="form-control"
            id="basiInput"
            [(ngModel)]="targetCompainModel.noteAr"
          />
        </div>
      </div>

      <div class="row">
        <label class="mt-3">{{ "Options" | translate }}</label>

        <div class="col-md-6">
          <div class="mt-3">
            <label for="basiInput" class="form-label">{{
              "OptiontextEn" | translate
            }}</label>
            <input
              type="input"
              class="form-control"
              id="basiInput"
              [(ngModel)]="targetCompainsOptionModel.optiontextEn"
              name="optiontextEn"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="mt-3">
            <label for="basiInput" class="form-label">{{
              "OptiontextAr" | translate
            }}</label>
            <input
              type="input"
              class="form-control"
              id="basiInput"
              [(ngModel)]="targetCompainsOptionModel.optiontextAR"
              name="optiontextAR"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="" style="margin-top: 30px">
            <label for="userStatusInput" class="form-label">{{
              "Status" | translate
            }}</label>
            <div class="form-check form-switch">
              <input
                type="checkbox"
                class="form-check-input"
                id="userStatusInput"
                [(ngModel)]="targetCompainModel.isActiveStatus"
              />
              <label class="form-check-label" for="userStatusInput"></label>
            </div>
          </div>
        </div>

        <div style="margin-top: 20px">
          <button
            class="btn btn-danger waves-effect waves-light pull-right"
            type="button"
            id="ourValuesEnButton"
            (click)="addOption()"
          >
            {{ "Add" | translate }}
          </button>
        </div>
        <div class="table-responsive mt-4">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">{{ "OptionEn" | translate }}</th>
                <th scope="col">{{ "OptionAr" | translate }}</th>
                <th scope="col">{{ "Actions" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let item of targetCompainModel.targetCompainsOptionModels;
                  let i = index
                "
              >
                <td>{{ item.optiontextEn }}</td>
                <td>{{ item.optiontextAR }}</td>
                <td>
                  <button
                    class="btn btn-danger btn-sm"
                    (click)="removeOption(i)"
                  >
                    {{ "Remove" | translate }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="modal-footer">
      <div class="button-container">
        <button
          type="button"
          class="btn btn-danger waves-effect waves-light mr-2"
          (click)="add()"
          *ngIf="targetCompainModel.id == 0"
        >
          {{ "Save" | translate }}
        </button>

        <button
          type="button"
          class="btn btn-danger waves-effect waves-light mr-2"
          (click)="update()"
          *ngIf="targetCompainModel.id != 0"
        >
          {{ "Update" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-light button mr-2"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          {{ "Close" | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateDetails class="modal-lg">
  <div class="modal-header bg-light">
    <h4 class="modal-title pull-left">
      {{ "TargetCompainDetails" | translate }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="row">
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "TargetCompainTextEn" | translate
          }}</label>
          <div>{{ targetCompainModel.targetCompainTextEn }}</div>
        </div>
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "TargetCompainTextAr" | translate
          }}</label>
          <div>{{ targetCompainModel.targetCompainTextAr }}</div>
        </div>
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "NoteEn" | translate
          }}</label>
          <div>{{ targetCompainModel.noteEn }}</div>
        </div>
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "NoteAr" | translate
          }}</label>
          <div>{{ targetCompainModel.noteAr }}</div>
        </div>
      </div>

      <div class="row">
        <label class="mt-3">{{ "Options" | translate }}</label>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">{{ "OptionEn" | translate }}</th>
                <th scope="col">{{ "OptionAr" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let item of targetCompainModel.targetCompainsOptionModels;
                  let i = index
                "
              >
                <td>{{ item.optiontextEn }}</td>
                <td>{{ item.optiontextAR }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- container-fluid -->
    <!-- End Page-content -->
  </div>
  <div class="row">
    <div class="modal-footer">
      <div class="button-container">
        <button
          type="button"
          class="btn btn-light button"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          {{ "Close" | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
