<div class="app-menu navbar-menu">
  <!-- LOGO -->
  <div class="navbar-brand-box">
    <!-- Dark Logo-->
    <a href="index.html" class="logo logo-dark">
      <span class="logo-sm">
        <img src="assets/images/logo-sm.png" alt="" height="22" />
      </span>
      <span class="logo-lg">
        <img src="assets/images/logo-dark.png" alt="" height="100" />
      </span>
    </a>
    <!-- Light Logo-->
    <a href="index.html" class="logo logo-light">
      <span class="logo-sm">
        <img src="assets/images/logo-sm.png" alt="" height="22" />
      </span>
      <span class="logo-lg">
        <img src="assets/images/logo-light.png" alt="" height="100" />
      </span>
    </a>
    <button
      type="button"
      class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
      id="vertical-hover"
    >
      <i class="ri-record-circle-line"></i>
    </button>
  </div>

  <div id="scrollbar">
    <div class="container-fluid">
      <div id="two-column-menu"></div>

      <app-recursive-menu
        [menuItems]="menuItems"
        [openMenu]="openMenu"
        (menuToggled)="toggleMenu($event)"
      ></app-recursive-menu>

      <!-- <ul class="navbar-nav" id="navbar-nav">
        
        <ng-container *ngFor="let menuItem of menuItems">
          <li class="nav-item">
            <a
              class="nav-link menu-link"
              (click)="toggleMenu(menuItem)"
              [attr.data-bs-toggle]="menuItem.subMenuId ? 'collapse' : null"
              [attr.href]="'#' + menuItem.subMenuId"
              role="button"
              [attr.aria-expanded]="menuItem === openMenu ? 'true' : 'false'"
              [attr.aria-controls]="
                menuItem.subMenuId ? menuItem.subMenuId : null
              "
            >
              <i [class]="menuItem.icon"></i>
              <span>{{ menuItem.label }}</span>
            </a>
            <div
              class="collapse"
              [id]="menuItem.subMenuId"
              *ngIf="menuItem.subMenuId"
              [class.show]="openSubMenus[menuItem.subMenuId]"
            >
              <ul class="navbar-nav">
                <ng-container
                  *ngFor="let subMenuItem of menuItem?.subMenuItems"
                >
                  <li class="nav-item">
                    <a
                      class="nav-link menu-link"
                      [routerLink]="subMenuItem?.routerLink"
                    >
                      <i
                        *ngIf="subMenuItem?.icon"
                        [class]="subMenuItem?.icon"
                      ></i>
                      <span>{{ subMenuItem?.label }}</span>
                    </a>
                  </li>
                </ng-container>
              </ul>
            </div>
          </li>
        </ng-container>

       
      </ul> -->
    </div>
  </div>
</div>
