<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <h4 class="card-title mb-0 flex-grow-1">
            {{ "AgendaList" | translate }}
          </h4>
          <div class="flex-shrink-0">
            <div class="d-flex align-items-center"></div>
            <a
              type="button"
              class="btn btn-danger waves-effect waves-light"
              id="btnAdd"
              style="float: inline-end"
              (click)="openModal(template)"
            >
              {{ "AddNew" | translate }}
            </a>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-nowrap" id="agendaDataTable">
            <thead>
              <tr>
                <th>{{ "ID" | translate }}</th>
                <th>{{ "HeadingEn" | translate }}</th>
                <th>{{ "DescriptionEn" | translate }}</th>
                <th>{{ "HeadingAr" | translate }}</th>
                <th>{{ "DescriptionAr" | translate }}</th>
                <!-- <th>{{ "Actions" }}</th> -->
                <th>{{ "Actions" | translate }}</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>
<ng-template #template class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="agendaModel.id == 0">
      {{ "AddNewAgenda" | translate }}
    </h4>
    <h4 class="modal-title pull-left" *ngIf="agendaModel.id != 0">
      {{ "UpdateAgenda" | translate }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="row">
        <div class="col-md-6 mt-3">
          <div class="mt-0">
            <label for="basiInput" class="form-label">
              {{ "HeadingEn" | translate }}</label
            >
            <input
              type="input"
              class="form-control"
              id="basiInput"
              [(ngModel)]="agendaModel.headingEn"
              (ngModelChange)="globalService.onInputChange('headingEn', $event)"
              [ngClass]="{
                'input-error': globalService.dataKeys['headingEn']?.isError
              }"
            />
            <span
              *ngIf="globalService.dataKeys['headingEn']?.isError"
              class="text-danger"
            >
              <i class="bi bi-exclamation-circle"></i>
              {{ "Thisfiledisrequired!" | translate }}
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mt-3">
            <label for="basiInput" class="form-label">{{
              "HeadingAr" | translate
            }}</label>
            <input
              type="input"
              class="form-control"
              id="basiInput"
              [(ngModel)]="agendaModel.headingAr"
              (ngModelChange)="globalService.onInputChange('headingAr', $event)"
              [ngClass]="{
                'input-error': globalService.dataKeys['headingAr']?.isError
              }"
            />
            <span
              *ngIf="globalService.dataKeys['headingAr']?.isError"
              class="text-danger"
            >
              <i class="bi bi-exclamation-circle"></i>
              {{ "Thisfiledisrequired!" | translate }}
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mt-3">
            <label for="basiInput" class="form-label">{{
              "DescriptionEn" | translate
            }}</label>
            <input
              type="input"
              class="form-control"
              id="basiInput"
              [(ngModel)]="agendaModel.descriptionEn"
              (ngModelChange)="
                globalService.onInputChange('descriptionEn', $event)
              "
              [ngClass]="{
                'input-error': globalService.dataKeys['descriptionEn']?.isError
              }"
            />
            <span
              *ngIf="globalService.dataKeys['descriptionEn']?.isError"
              class="text-danger"
            >
              <i class="bi bi-exclamation-circle"></i>
              {{ "Thisfiledisrequired!" | translate }}
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mt-3">
            <label for="basiInput" class="form-label">{{
              "DescriptionAr" | translate
            }}</label>
            <input
              type="input"
              class="form-control"
              id="basiInput"
              [(ngModel)]="agendaModel.descriptionAr"
              (ngModelChange)="
                globalService.onInputChange('descriptionAr', $event)
              "
              [ngClass]="{
                'input-error': globalService.dataKeys['descriptionAr']?.isError
              }"
            />
            <span
              *ngIf="globalService.dataKeys['descriptionAr']?.isError"
              class="text-danger"
            >
              <i class="bi bi-exclamation-circle"></i>
              {{ "Thisfiledisrequired!" | translate }}
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mt-3">
            <label for="basiInput" class="form-label">{{
              "Date" | translate
            }}</label>
            <input
              type="date"
              placeholder="Date"
              class="form-control"
              bsDatepicker
              [(ngModel)]="agendaModel.date"
              (ngModelChange)="
                globalService.onInputChange('date', $event, 'date')
              "
              [ngClass]="{
                'input-error': globalService.dataKeys['date']?.isError
              }"
            />
            <span
              *ngIf="globalService.dataKeys['date']?.isError"
              class="text-danger"
            >
              <i class="bi bi-exclamation-circle"></i>
              {{ "Thisfiledisrequired!" | translate }}
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mt-3">
            <label for="basiInput" class="form-label">{{
              "Time" | translate
            }}</label>
            <input
              type="time"
              placeholder="Time"
              class="form-control"
              bsDatepicker
              [(ngModel)]="agendaModel.time"
              (ngModelChange)="
                globalService.onInputChange('time', $event, 'time')
              "
              [ngClass]="{
                'input-error': globalService.dataKeys['time']?.isError
              }"
            />
            <span
              *ngIf="globalService.dataKeys['time']?.isError"
              class="text-danger"
            >
              <i class="bi bi-exclamation-circle"></i>
              {{ "Thisfiledisrequired!" | translate }}
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mt-3">
            <label for="basiInput" class="form-label">{{
              "Venue" | translate
            }}</label>
            <select
              class="form-control"
              [(ngModel)]="agendaModel.agendaVenue"
              (ngModelChange)="
                globalService.onInputChange('agendaVenue', $event, 'select')
              "
              [ngClass]="{
                'input-error': globalService.dataKeys['agendaVenue']?.isError
              }"
            >
              <option [ngValue]="0">
                {{ "OnPremises" | translate }}
              </option>
              <option [ngValue]="1">{{ "Online" | translate }}</option>
            </select>

            <span
              *ngIf="globalService.dataKeys['agendaVenue']?.isError"
              class="text-danger"
            >
              <i class="bi bi-exclamation-circle"></i>
              {{ "Thisfiledisrequired!" | translate }}
            </span>
          </div>
        </div>
        <div *ngIf="agendaModel.agendaVenue == 0">
          <div class="col-md-6">
            <div class="mt-3">
              <label for="basiInput" class="form-label">{{
                "LocationDescriptionEn" | translate
              }}</label>
              <input
                class="form-control"
                [(ngModel)]="agendaModel.locationDescriptionEn"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="mt-3">
              <label for="basiInput" class="form-label">{{
                "LocationDescriptionAr" | translate
              }}</label>
              <input
                class="form-control"
                [(ngModel)]="agendaModel.locationDescriptionAr"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mt-3">
            <div class="mb-3">
              <div *ngIf="!agendaModel.imageUrl">
                <label for="formFile" class="form-label">{{
                  "Choosefile" | translate
                }}</label>
                <file-pond
                  #myPond
                  label-idle='Drag & Drop your files or <span class="filepond--label-action"> Browse </span><br> <b>Maximum 5 files upload</b>'
                  allow-multiple="true"
                  [options]="pondOptions"
                  [files]="pondFiles"
                  (oninit)="pondHandleInit()"
                  (onaddfile)="pondHandleAddFile($event, 'agendaBannerImg')"
                >
                </file-pond>
              </div>
              <div *ngIf="agendaModel.imageUrl">
                <img
                  [src]="
                    globalService.getImgServerBaseUrl(agendaModel.urlBase64)
                  "
                  alt="Membership Image"
                  style="height: 200px; width: 250px"
                  class="mt-2"
                />
                <a
                  (click)="removeImage()"
                  class="btn btn-danger"
                  style="display: block; margin-top: 10px"
                  >{{ "Remove" | translate }}</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mt-3">
            <div class="mb-3">
              <label for="formFile" class="form-label">{{
                "ChoosefileForDetails" | translate
              }}</label>
              <file-pond
                #agendDownloadAttachment
                label-idle='Drag & Drop your files or <span class="filepond--label-action"> Browse </span><br> <b>Maximum 5 files upload</b>'
                allow-multiple="true"
                [options]="pondOptions_Multiple"
                [files]="pondFiles_Multiples"
                (oninit)="pondHandleInit()"
                (onaddfile)="pondHandleAddFile($event, 'agendDownloadFile')"
                (onremovefile)="pondHandleRemoveFile($event)"
              >
              </file-pond>
              {{ message }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="modal-footer">
      <div class="button-container">
        <button
          type="button"
          class="btn btn-danger waves-effect waves-light mr-2"
          (click)="add()"
          *ngIf="agendaModel.id == 0"
        >
          {{ "Save" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-danger waves-effect waves-light mr-2"
          (click)="update()"
          *ngIf="agendaModel.id != 0"
        >
          {{ "Update" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-light button"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          {{ "Close" | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #templateDetails class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ "AgendaDetail" | translate }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "HeadingEn" | translate
          }}</label>
          <div>{{ agendaModel.headingEn }}</div>
        </div>

        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "HeadingAr" | translate
          }}</label>
          <div>{{ agendaModel.headingAr }}</div>
        </div>
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "DescriptionEn" | translate
          }}</label>
          <div>{{ agendaModel.descriptionEn }}</div>
        </div>
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "DescriptionAr" | translate
          }}</label>
          <div>{{ agendaModel.descriptionAr }}</div>
        </div>

        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0"
            >{{ "Date" | translate }}
          </label>
          <div>{{ agendaModel.date }}</div>
        </div>
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0"
            >{{ "Time" | translate }}
          </label>
          <div>{{ agendaModel.time }}</div>
        </div>
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Venue" | translate
          }}</label>
          <div *ngIf="agendaModel.agendaVenue === 1">
            {{ "Online" | translate }}
          </div>
          <div *ngIf="agendaModel.agendaVenue === 0">
            {{ "OnPremises" | translate }}
          </div>
        </div>
        <div *ngIf="agendaModel.agendaVenue === 0">
          <div class="col-md-6">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "LocationDescriptionEn" | translate
            }}</label>
            <div>{{ agendaModel.locationDescriptionEn }}</div>
          </div>
          <div class="col-md-6">
            <label for="basiInput" class="form-label text-muted mb-0">{{
              "LocationDescriptionAr" | translate
            }}</label>
            <div>{{ agendaModel.locationDescriptionAr }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "Attachment" | translate
          }}</label>
          <div class="fs-15">
            <img
              [src]="globalService.getImgServerBaseUrl(agendaModel.urlBase64)"
              class="card-img-top img-thumnail"
              style="height: 200px; width: auto"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for="basiInput" class="form-label text-muted mb-0">{{
            "AttachmentForDownload" | translate
          }}</label>

          <div *ngFor="let attach of agendaModel.agendaAttachmentModels">
            <img
              *ngIf="attach.url; else defaultImage"
              [src]="globalService.getImgServerBaseUrl(attach.urlBase64)"
              class="card-img-top img-thumbnail"
              alt="Attachment Image"
              style="height: 200px; width: auto"
            />
            <ng-template #defaultImage>
              <img
                src="/assets/default.png"
                class="card-img-top img-thumbnail"
                alt="Default Image"
                style="height: 200px; width: auto"
              />
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- container-fluid -->
  <!-- End Page-content -->
  <div class="row">
    <div class="modal-footer">
      <div class="button-container">
        <button
          type="button"
          class="btn btn-light button"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          {{ "Close" | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
